<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style type="text/css">
        .main-content{
            margin-top: 14px;
            margin-bottom: 38px;
        }
        .margin-table{
            margin-top: 21px;
        }
        .margin-list{
            margin-top: 24px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <title>SportAwareness</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/start_list/">{% block start_protocol_definition %}Стартовые протоколы{% endblock %}</a> 
    </nav>
    <nav class="navbar navbar-dark bg-dark"">
        <a class="navbar-brand" href="/result_list/">{% block result_protocol_definition %}Результаты{% endblock %}</a> 
    </nav>
    <nav class="navbar navbar-dark bg-dark"">
        <a class="navbar-brand" href="/final_list/">{% block final_result_protocol_definition %}Финальный протокол{% endblock %}</a>
    </nav>
    <div class="container-fluid main-content">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>